################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RedpilledOuttaCucktown/obj/Debug
/RedpilledOuttaCucktown/bin/Debug
/Client/obj/Debug
/Client/bin/Debug
/Server/bin/Debug
/Server/obj/Debug
/.vs/RedpilledOuttaCucktown/v15
/Common/bin/Debug
/.vs/ServerProject/v15/Server/sqlite3
/Common/obj/Debug
