################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RedpilledOuttaCucktown/obj/Debug
/RedpilledOuttaCucktown/bin/Debug
/Client/obj/Debug
/Client/bin/Debug
/Server/bin/Debug
/Server/obj/Debug
/.vs/RedpilledOuttaCucktown/v15
